# rcov generated
coverage
coverage.data

# rdoc generated
rdoc

# yard generated
doc
.yardoc

# bundler
.bundle

# jeweler generated
pkg

# Dont lock down gems
Gemfile.lock

# Temp files
tmp/

# See: https://gist.github.com/ianheggie/9327010
# for Global git ignore for OS/IDE/temp/backup files
